* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, sans-serif;
}

body {
    background: #e5e7eb;   /* light grey */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}

.container {
    background: #ffffff;
    width: 650px;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #1e3c72;
}

input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    background: #1e3c72;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #16315e;
}

.link {
    text-align: center;
    margin-top: 15px;
}

.link a {
    color: #1e3c72;
    text-decoration: none;
    font-weight: 500;
}

.dashboard {
    text-align: center;
}

.dashboard button {
    margin: 10px 0;
}

.success {
    color: green;
    font-weight: bold;
    text-align: center;
}

.failed {
    color: red;
    font-weight: bold;
    text-align: center;
}

.card {
    background: #f9fafb;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 12px 16px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
}

table th {
    background-color: #f4f6f8;
    font-weight: 600;
}
